snippet a
	assert ${1}

snippet r
	refute ${1}

snippet f
	fail ${1}

snippet eq
	assert.equals(
		${1},
		${2})

snippet ne
	refute.equals(
		${1},
		${2})

snippet l
	console.log ${1}

snippet d
	describe "${1}", () ->

snippet it
	it "${1}", () ->


